 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600$display=swap'); */
 :root {
    --main-color: #1d8ad3;
    --color-dark: #1D2231;
    --text-grey: #8390a2;
}

body{
    background-color: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    border-radius: 0px 10px 10px 0px;
    transition: width 300ms;
}

.sidebar-brand{
    height: 100px;
    padding: 2rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand h1{
    font-size: 1rem;
    padding: 20px 0px;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 0rem;
}

.sidebar-menu li{
    widows: 100%;
    margin-bottom: 1rem;
    padding-left: 0rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration:none
}

.sidebar-menu a.active{
    background: #fff;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child{
    font-size: 1.5;
    padding-right: 0rem;
}

#nav-toggle:checked + .sidebar{
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}

#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}

.main-content{
    transition: margin-left 300ms;
    margin-left: 200px;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
}

main{
    padding: 2rem 1.5rem;
}

#nav-toggle{
    display: none;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

main{
    margin-top: 40px;
    padding: rem 1.5rem;
    background: #f1f5f9e3;
    min-height: calc(103vh - 70px);
    border-radius: 0px 0px 0px 30px;
}

.offcanvas{
    height: 100%;
    width: 70%;
}

@media only screen and (max-width: 768px){
    .offcanvas{
        height: 100%;
        width: 90%;
    }
    body{
        background: #ffffff;
    }
    .sidebar{
        left: -100% !important;
    }

    header h1{
        display: flex;
        align-items: center;
    }

    header h1 label{
        display:  inline-block;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 30px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
     }
     
     header h1 span{
        text-align: center;
        padding-right: 0rem;
     }
     
     header h1{
        font-size: 1.1rem;
     }

     .main-content{
        width: 100%;
        margin-left: 0rem;
        
     }

     header{
        width: 100% !important;
        left: 0 !important; 
     }

     #nav-toggle:checked + .sidebar{
        left: 0 !important;
        z-index: 100;
        width: 230px;
     }
    
    #nav-toggle:checked + .sidebar li {
        padding-left: 1rem;
        text-align: left;
    }

    #nav-toggle:checked + .sidebar li a{
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: inline;
    }

    #nav-toggle:checked ~ .main-content{
        margin-left: 0rem;
    }
    #no-more-tables body,
    #no-more-tables tr,
    #no-more-tables td{
        display: block;
    }
    #no-more-tables thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables td{
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td:before{
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #no-more-tables tr{
        border-bottom: 1px solid #ccc;
    }
}


  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }